body {
    font-family: $sub-fonts;
    font-weight: 400;
}

.container {
    max-width: 1179px;
    margin: 0 auto;
    padding: 0 16px;
}

.logo {
    max-width: 134px;
    height: 11px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.button {
    border: none;
    display: block;
    font-weight: 700;
    font-size: 16px;
    width: 160px;
    height: 45px;
    left: 739px;
    top: 674px;
    letter-spacing: 0.1em;
    background: #565656;
    color: $color-white;
    cursor: pointer;

    &--icon {
        &::after {
            content: '→';
            padding-left: 8px;
            color: $color-white;
        }
    }

}

.hover-link-animation {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: block;

    &:hover {
        transform: scale(1.1);

    }
}





