// & == .blog

.blog {
    padding-bottom: 128px;

    &__title {
        margin: 130px 0 96px;

        @media (max-width: $tablet) {
            font-weight: 400;
            font-size: 33px;
            line-height: 50px;
            margin: 73px 0 58px;
        }


    }

    &__slide {
        display: flex;
        gap: 68px;

        @media (max-width: $tablet) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__slide-img {
        max-width: 540px;
    }

    &__slide-info {
        max-width: 448px;
    }

    &__slide-info-tag {
        color: $color-gray-500;
        padding-bottom: 24px;
    }

    &__slide-info-title {
        padding-bottom: 16px;
    }


    &__slide-info-date {
        color: $color-gray-500;
        padding-bottom: 48px;

        @media (max-width: $tablet) {
            padding-bottom: 24px;
        }
    }

    &__slide-info-num {
        display: flex;
        margin-top: 94px;
        gap: 24px;

        @media (max-width: $tablet) {
            margin-top: 64px;
        }
    }

    &__slide-info-numer {

        &:hover,
        :active {
            color: $color-gray-500;
        }
    }

    &__row {
        margin-top: 48px;
        display: flex;
        justify-content: start;
        gap: 40px;
        flex-wrap: wrap;

        @media (max-width: $tablet) {
            gap: 48px;
        }
    }

    &__row-post {
        width: 542px;
    }

    &__row-post-img {
        max-width: 540px;
    }

    &__row-post-info {
        display: flex;
        justify-content: space-between;
        margin: 24px 0 24px;
    }

    &__row-post-info-category,
    &__row-post-info-date {
        color: $color-gray-500;

    }

    &__row-post-title {
        padding-bottom: 65px;

        @media (max-width: $tablet) {
            padding-bottom: 16px;
        }
    }

    &__row-post-title-1 {
        padding-bottom: 24px;
    }

    &__row-post-text-1 {
        padding-bottom: 126px;

        @media (max-width: $tablet) {
            padding-bottom: 0px;
        }
    }

    &__btn {
        margin: 0 auto;
        margin-top: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.form__fields {
    display: flex;
    gap: 39px;
    margin-top: 114px;
    max-width: 544px;

    @media (max-width: $tablet) {
        margin-top: 64px;
    }

}

.form__title {
    color: $color-black;
}

.form__input {
    margin-top: -9px;
}