.contact {
    &__description {
        display: flex;
        flex-direction: row;
        gap: 313px;
        margin-top: 130px;

        @media (max-width: $tablet) {
            gap: 42px;
            flex-direction: column;
            margin-top: 73px;
        }
    }

    &__title {
        max-width: 263px;
    }

    &__description-text {
        max-width: 543px;
        color: $color-dark-gray;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin: 128px 0 69px;
        max-width: 288px;

        @media (max-width: $tablet) {
            margin: 64px 0 51px;
        }

    }

    &__info-title {
        padding-bottom: 24px;

        @media (max-width: $tablet) {
            padding-bottom: 40px;
        }


    }

    &__adress {
        padding-bottom: 21px;
        color: $color-dark-gray;
    }

    &__tel {
        padding-bottom: 22px;
        color: $color-dark-gray;
    }

    &__mail {
        color: $color-dark-gray;
    }

    &__info-link-title {
        margin-bottom: 25px;
    }

    &__info-item {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    &__box {
        display: flex;
        gap: 290px;

        @media (max-width: $tablet) {
            display: flex;
            flex-direction: column;
            gap: 65px;
        }
    }

    &__modal {
        max-width: 542px;
        width: 100%;
        margin-top: 128px;
        margin-bottom: 128px;
    }

    &__btn {
        margin-top: 64px;
    }
}