.contact-page {

    //contact 
    .contact {
        &__description {
            display: flex;
            flex-direction: row;
            gap: 313px;
            margin: 130px 0 128px;

            @media (max-width: $tablet) {
                gap: 42px;
                flex-direction: column;
                margin: 42px 0 64px;
            }
        }

        &__title {
            max-width: 263px;
        }

        &__description-text {
            max-width: 543px;
            color: $color-gray-700;
        }
    }

    //contact end

    //info
    .info {
        &__container {
            display: flex;
            gap: 290px;
            margin-bottom: 128px;

            @media (max-width: $tablet) {
                flex-direction: column;
                gap: 64px;
                margin-bottom: 72px;
            }
        }

        &__row {
            display: flex;
            flex-direction: column;
            gap: 69px;

        }

        &__links-title {
            padding-bottom: 24px;
        }

        &__links-adress {
            max-width: 226px;
            color: $color-gray-700;
            padding-bottom: 21px;
        }

        &__links-tel,
        &__links-mail {
            display: flex;
            gap: 9px;
            color: $color-gray-700;
        }

        &__links-tel {
            padding-bottom: 22px;
        }

        &__social {
            display: flex;
            flex-direction: column;
            gap: 25px
        }

        &__social-items {
            display: flex;
            gap: 24px
        }

        &__modal {
            max-width: 542px;
            width: 100%;

        }

        &__btn {
            margin-top: 64px;
        }
    }

    //info end
}