// & == .home

// .home {

//     &__titlle {
//         max-width: 709px;
//         margin: 128px 0;

//         @media (max-width: $tablet) {
//             max-width: 288px;
//             font-weight: 400;
//             font-size: 33px;
//             line-height: 50px;
//             margin: 74px 0 40px;
//         }
//     }

//     &__works {
//         display: flex;
//         gap: 32px;
//     }

//     &__info {
//         display: flex;
//         justify-content: space-between;
//         gap: 210px;
//         margin: 128px 0;

//         @media (max-width: $tablet) {
//             display: block;
//         }
//     }

// &__info-box-left {
//     width: 100%;
// }

// &__info-box-left-text {
//     @media (max-width: $tablet) {

//         font-size: 19px;
//         line-height: 32px;
//     }
// }

// &__info-box-left-text-2 {
//     padding-bottom: 48px;

//     @media (max-width: $tablet) {
//         padding: 42px 0 28px;
//         font-size: 19px;
//         line-height: 32px;
//     }

// }

// &__info-box-right {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     width: 100%;

//     @media (max-width: $tablet) {
//         margin-top: 48px;
//     }
// }


// &__info-box-right-text {
//     color: $color-dark-gray;

//     @media (max-width: $tablet) {
//         font-size: 16px;
//         line-height: 166%;
//     }

// }

// &__posts-title {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 48px;

// }

// &__posts-title-row {
//     display: flex;
//     position: relative;
// }

// &__posts-title-row-arrow {
//     position: absolute;
// }

// &__posts-title-text {
//     color: $color-gray-500;

// }

// &__posts {
//     display: flex;
//     gap: 34px;
//     margin-bottom: 128px;

//     @media (max-width: $tablet) {
//         flex-direction: column;
//         gap: 48px;
//         margin-bottom: 64px;
//     }
// }

// &__posts-post-tags {
//     display: flex;
//     justify-content: space-between;
//     margin: 24px 0;

//     @media (max-width: $tablet) {
//         flex-direction: column;
//         gap: 8px;
//         margin: 16px 0 24px;
//     }

// }

// &__posts-post-tags-tag,
// &__posts-post-tags-date {
//     color: $color-gray-500;
// }

// &__posts-post-title {
//     padding-bottom: 65px;

//     @media (max-width: $tablet) {
//         padding-bottom: 24px;
//     }
// }

// &__posts-post-title1 {
//     padding-bottom: 24px;
// }

// &__posts-post-title2 {
//     padding-bottom: 62px;


// }

// &__posts-post-text {
//     max-width: 350px;
// }




.home-page {

    //home
    .home {

        &__titlle {
            max-width: 709px;
            margin: 128px 0;

            @media (max-width: $tablet) {
                max-width: 288px;
                font-weight: 400;
                font-size: 33px;
                line-height: 50px;
                margin: 74px 0 40px;
            }
        }
    }

    //home end

    //slider 
    .slider {

        &__container {
            display: flex;
            gap: 30px;
            overflow: scroll;
        }

        &__container::-webkit-scrollbar {
            display: none;
        }

        &__container__container {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        &__works-row {
            width: 544px;
            min-width: 544px;
        }

        &__works-row-text {
            display: flex;
            align-items: center;
        }
    }

    //slider end

    //info
    .info {
        &__container {
            display: flex;
            justify-content: space-between;
            margin: 128px auto;

            @media (max-width: $tablet) {
                display: block;
                margin: 48px auto;
            }
        }

        &__box-left {
            width: 100%;
        }

        &__box-left-text {
            @media (max-width: $tablet) {
                font-size: 19px;
                line-height: 32px;
            }
        }

        &__box-left-text-2 {
            padding-bottom: 48px;

            @media (max-width: $tablet) {
                padding: 42px 0 28px;
                font-size: 19px;
                line-height: 32px;
            }
        }

        &__box-right {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            max-width: 480px;

            @media (max-width: $tablet) {
                margin-top: 48px;
            }
        }

        &__box-right-text {
            color: $color-gray-700;

            @media (max-width: $tablet) {
                font-size: 16px;
                line-height: 166%;
            }

        }
    }

    //info end

    //posts 
    .posts {
        &__title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;
        }

        &__title-row {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &__title-text {
            color: $color-gray-500;
        }


        &__item {
            display: flex;
            gap: 34px;

            @media (max-width: $tablet) {
                flex-direction: column;
            }
        }

        &__item-post {
            display: flex;
            flex-direction: column;
            margin-bottom: 128px;

            @media (max-width: $tablet) {
                flex-direction: column;
                margin-bottom: 64px;
            }

        }

        &__item-post-tags {
            display: flex;
            justify-content: space-between;
            margin: 24px 0;

            @media (max-width: $tablet) {
                flex-direction: column;
                gap: 8px;
                margin: 16px 0 24px;
            }
        }

        &__item-post-tags-tag,
        &__item-post-tags-date {
            color: $color-gray-500;
        }

        &__item-post-title {
            padding-bottom: 65px;

            @media (max-width: $tablet) {
                padding-bottom: 24px;
            }
        }

        &__item-post-text {
            max-width: 350px;
        }

        &__item-post-title1 {
            padding-bottom: 24px;
        }

        &__item-post-title2 {
            padding-bottom: 62px;
        }
    }

}